{% extends "base.html" %}

{% block page_content %}
<table id="usertable" class="table table-striped">
    <thead>
    <tr>
    {% for key,val in users[0].items() %}
    <th>{{ key }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr onclick="document.location = '{{ url_for('admin.user', username=user['Username']) }}'">
        {% for key, val in user.items() %}
          <td>{{ val }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}
