{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='mindmup-editabletable.js') }}" type="text/javascript"></script>
{% endblock %}

{% block page_content %}
<table id="usertable" class="table table-striped">
    <thead>
    <tr>
    {% for key,val in users[0].items() %}
    <th>{{ key }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
        {% for key, val in user.items() %}
          <td>{{ val }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>
<script>
$('#usertable').editableTableWidget();
</script>

{% endblock %}
